# Android Studio
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Gradle
.gradle
/build

# Local files
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx

# Optional Android outputs
*.apk
*.aab
output-metadata.json

# Keystores
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof
